*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
.flexible{
    display: flex;
    align-items: center;
}
h1 {
    font-size: 40px;
    color: #575757;
}
h2 {
    font-size: 40px;
    color: #575757;
}
h3{
    font-size: 22px;
}
p {
    line-height: 2;
}
a{
    text-decoration: none;
    color: inherit;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.btn-style {
    border-radius: 50px;
    padding: 13px 30px;
    box-shadow: 0px 0px 14px 3px rgb(170 7 107 / 50%);
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to right, #aa076b, #61045f);
    display: inline-block;
    margin: 1rem 0;
}
input, textarea {
    width: 97%;
    padding: 12px 7px;
    border-radius: 20px;
    margin: 10px 10px;
    font-size: 16px;
    border: 2px solid #E5E5E5;
}
#submit-btn {
    width: 20%;
    margin: auto;
    display: inherit;
    cursor: pointer;
    border: none;
}
.half-width{
    width: 50%;
}
img{
    width: 100%;
}
.word-color{
    color: #aa076b;
}
.vertical-padding-1{
    padding: 1rem 0;
}
section{
    padding: 5rem 0;
}
.sections-bg{
    background: #E5E5E5;
}
.all-section-title-area {
    padding: 0 18rem;
    text-align: center;
}
.three-col-box {
    background: #fff;
    margin: 0 12px;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 0px 18px -4px rgb(0 0 0 / 31%);
}
.left-header {
    padding-right: 200px;
}
#about-section {
    background: url(images/about-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
}
.all-row-top-padding{
    padding-top:2rem;
}
.follower-boxs {
    width: 25%;
    text-align: center;
}
#followers-box-row {
    justify-content: center;
    padding: 3rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 18px -4px rgb(0 0 0 / 31%);
}
.follower-box-heading-text {
    font-size: 40px;
}
#footer-bg {
    background: #333;
    padding: 3rem 0;
    color: #fff;
    text-align: center;
}
.read-more-btn {
    display: block;
    text-align: center;
}
#contact-bg{
    background: url(images/background-form.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}